---
import '@fontsource/inter';

import google from '../assets/logos/google.jpg'
import facebook from '../assets/logos/facebook.jpg'
import coursera from '../assets/logos/coursera.jpg'

import linkedin from '../assets/logos/linkedin.jpg'
import github from '../assets/logos/github.jpg'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Samuel Francis | Portfolio</title>
	</head>
	<body>
		<div id="container">
		<div id="hero-main">
			<div id="hero-left">
				<h1>Hello, I like to <br>
					
					<div id="herotext">
					
						<span class="typer" id="main" data-words="Develop,Strategize,Design,Ideate" data-delay="100" data-deleteDelay="1000" data-colors="#7F93FF,#9ACD32,#BA55D3, #FF6347"></span>
					
					<span class="cursor" data-owner="main" data-cursor-display="_"  ></span>

					<script async src="https://unpkg.com/typer-dot-js@0.1.0/typer.js"></script>
				
					</div>
					For The Web!</h1>
				<div id="herosocial">
					<a href="https://github.com/sicnarfleumas" target="blank">
						<img class="work" src={github} alt="Github Logo">
					</a>
					<a href="https://www.linkedin.com/in/sicnarfleumas/" target="blank">
						<img class="work" src={linkedin} alt="LinkedIn Logo">
					</a>
				</div>
			</div>
			<div id="hero-right">
				<p>image</p>
			</div>
		</div>
		<div id="certs">
			<p>CERTIFIED</p>
			<p>|</p>
			<img src={coursera} alt="coursera logo" >
			<img src={google} alt="Google Logo" >
			<img src={facebook} alt="Meta Logo" >
		</div>
	</div>
	</body>
</html>

<style>

body{
	font-family: "Inter", sans-serif;
	font-weight: 900;
}

.work{
width: 1.5rem;
height: 1.5rem;
}

img{
	width: 2rem;
	height: 2rem;
}
	#container {
		display: block;
	}
	#hero-main {
		display: flex;
		flex-direction: row;
		align-content: center;
		justify-content: center;
		padding-top: 12.5rem;
	}
	#hero-left {
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
	}
	#hero-right {
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
		padding-left: 5rem;
	}
	h1 {
		line-height: 2.5rem;
		font-weight: 900;
	}
#certs{
	display: flex;
	flex-direction: row;
	gap: 5rem;
	justify-content: center;
	margin-top: 5rem;
	padding-left: 5%;
	padding-right: 5%;

	align-items: center;

	font-weight: bold;
	color: black;
	font-size: 1rem;
}
.cursor {
  color: transparent;
}

</style>