---
import google from '../assets/logos/google.jpg'
// import facebook from '../assets/logos/facebook.jpg'
import coursera from '../assets/logos/coursera.jpg'

// import linkedin from '../assets/logos/linkedin.jpg'
// import github from '../assets/logos/github.jpg'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div id="container">
		<div id="hero-main">
			<div id="hero-left">
				<h1>Hello, I like to <br>
					<span class="typer" id="main" data-words="Develop,Strategize,Design,Ideate" data-delay="100" data-deleteDelay="1000" data-colors="#7F93FF"></span>
					<span class="cursor" data-owner="main"></span>
					<script async src="https://unpkg.com/typer-dot-js@0.1.0/typer.js"></script>

					<br>
					For The Web!</h1>
				<div id="herosocial">
					<!-- <img src={linkedin} sizes="40" alt="LinkedIn Logo">
					<img src={github} alt="Github Logo"> -->
				</div>
			</div>
			<div id="hero-right">
				<p>image</p>
			</div>
		</div>
		<div id="certs">
			<p>CERTIFIED BY</p>
			<p>|</p>
			<img src={google} width="40"	height="40" alt="Google Logo" >
			<!-- <img src={facebook} width="40"	height="40" alt="Meta Logo" > -->
			<img src={coursera} width="40"	height="40" alt="coursera logo" >
		</div>
	</div>
	</body>
</html>

<style>
	#container {
		display: block;
	}
	#hero-main {
		display: flex;
		flex-direction: row;
		align-content: center;
		justify-content: center;
		padding-top: 12.5rem;
	}
	#hero-left {
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
	}
	#hero-right {
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
		padding-left: 5rem;
	}
	h1 {
		font-family: 'Inter';
		line-height: 2.5rem;
	}
#certs{
	display: flex;
	flex-direction: row;
	gap: 5rem;
	justify-content: center;
	margin-top: 5rem;
/* 
	font-weight: bold;
	font-size: 1.5rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	
	justify-content: top: ; */
}
.cursor{	
	color: #7F93FF;
}
</style>